* {
    box-sizing: border-box;
}
html, body{
height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: aqua;

}
/* GitHub */
.github{
    background-color: dodgerblue;
    padding: 2rem;
    border-radius: 1rem ;
    color: white;
    box-shadow: 2px 2px 2px 3px black;
}
/* Search */
/* Usercard */
/* Data */
/* Repo */